.l-index .main{
  background-image: url("../../img/full-img-01.jpg");
  background-size: cover;
  background-position: center center;
}

.l-index .main .content-main-section{
  position: relative;
  height: 801px;
}

.l-index .main .content-main-section h1{
  font-size: 83px;
  color: #fff;
  text-align: center;
  padding-top: 106px;
}

.l-index .main .content-main-section p{
  font-size: 30px;
  color: #8d81ac;
  text-align: center;
  padding-top: 2px;
  font-family: 'Lato', sans-serif;
}

.l-index .main .content-main-section span{
  font-size: 16px;
  color: #848e97;
  text-align: center;
  display: block;
  padding-top: 12px;
}

.l-index .main .content-main-section .button{
  border:1px solid #8d81ac;
  border-radius: 35px;
  background: #8d81ac;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  width: 390px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 15px;
  position: absolute;
  bottom: -27px;
  left: 33%;
}

.l-index .second .wrapper-content{
  height: 390px;
  padding-top: 44px;
}

.l-index .second .wrapper-content span{
  font-size: 14px;
  text-align:center;
  color: #848e97;
  display: block;
}


.l-index .second  .wrapper-content h2{
  font-size: 54px;
  text-align: center;
  color: #635c73;
  padding-top: 65px;
  font-family: 'Lato', sans-serif;
}

.l-index .second  .wrapper-content p{
  font-size: 21px;
  text-align: center;
  color: #6d6d6d;
  padding-top: 40px;
}

.l-index .second  .wrapper-content .buttons{
  padding-top: 40px;
  text-align: center;
}

.l-index .second  .wrapper-content .buttons ul .button{
  display: inline-block;
  width: 124px;
  height: 25px;
  margin-left: 11px;
  border: solid 1px #000;
}

.l-index .second  .wrapper-content .buttons ul .button a, .inline{
  color: #000 !important;
}

.l-index .second  .wrapper-content .buttons ul .button .icon{
  display: inline-block;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  border-right: solid 1px gray;
  padding-right: 11px;
}


.l-index .second .wrapper-content .inline{
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.l-index .second  .wrapper-content .buttons ul .button .number{
  display: inherit;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.l-index .third{
  background: #f4f4f4;
}

.l-index .third .left .column{
  padding-left: 22px;
  padding-top: 30px;
}

.l-index .third .left .column .col{
  margin-bottom: 18px;
}

.l-index .third .left .column .col .wrapper{
  display: inline-block;
  vertical-align: top;
}
.l-index .third .left .column .col .one{
  width: 102px;
  margin-left: 15px;
}

.l-index .third .left .column .col .two{
  width: 92px;
  margin-left: 10px;
}

.l-index .third .left .column .col .three{
  width: 88px;
  margin-left: 11px;
}
.l-index .third .left .column .col .four{
  width: 79px;
  margin-left: 17px;
}

.l-index .third .left .column .col .text{
  width: 368px;
  display: inline-block;
  vertical-align: top;
  padding-left: 18px;
}

.l-index .third .left .column .col .text .subtitle{
  font-size: 16px;
  color: #323232;
}

.l-index .third .left .column .col .text p{
  font-size: 14px;
  color: #848e97;
  padding-top: 26px;
}

.l-index .third .right p{
  font-size: 56px;
  color: #8d81ac;
  text-align: left;
  padding-top: 80px;
}

.l-index .third .right .wrapper-image{
  width: 733px;
  padding-top: 31px;
}

.l-index .slider-content #slider .slides section{
  padding-top: 75px;
}

.l-index .slider-content #slider .slides section .twitter{
margin: 0 auto;
width: 350px;
}

.l-index .slider-content #slider .slides section .wrapper-image{
  width: 100px;
}

.l-index .slider-content #slider .slides section .wrapper-image img{
  border-radius: 50%;
}

.l-index .slider-content #slider .slides section .right{
  padding-top: 12px;
}

.l-index .slider-content #slider .slides section .right h2{
  color: #635675;
}

.l-index .slider-content #slider .slides section .right span{
  color: #917FAC;
  font-size: 18px;
}

.l-index .slider-content #slider .slides section .twit{
  padding-top: 115px;
  width: 600px;
  margin: 0 auto;
  border-bottom: solid 2px rgba(246, 245, 247, 0.74);
  padding-bottom: 55px;
}

.l-index .slider-content #slider .slides section .twit p,span{
  font-size: 18px;
}
.l-index .slider-content #slider .slides section .twit p span{
  color: #917FAC;
}
.l-index .slider-content #slider .slides section .twit .footer{
  color: rgba(170, 164, 180, 0.99);
  font-size: 14px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.l-index .social-link{
  width: 920px;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 75px;
}

.l-index .social-link .box{
  width: 282px;
  display: inline-block;
  padding-left: 20px;
}

.l-index .social-link .box span{
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
  color: #917FAC;
  font-size: 14px;
  font-weight: bold;

}

.l-index .social-link .box i, h3{
  display: inline-block;
  font-size: 20px;
}

.l-index .social-link .box .github{
  border: solid 1px rgba(214, 211, 194, 0.47);
  border-radius: 7px;
  display: inline-block;
  width: 225px;
  padding: 10px 5px;
  background: rgba(214, 211, 194, 0.47);
}

.l-index .social-link .box .github a{
  text-align: center;
  color: #000;
}

.l-index .social-link .box .github i{
  font-size: 20px;
  padding-right: 18px;
}

.l-index .social-link .box .github h3{
text-align: center;
}

.l-index .social-link .box .twitter{
  border: solid 1px #09c;
  border-radius: 7px;
  width: 225px;
  padding: 10px 5px;
  display: inline-block;
  background: #09c;
}

.l-index .social-link .box .twitter a{
  text-align: center;
  color: #fff;
}

.l-index .social-link .box .twitter i{
  font-size: 20px;
  padding-right: 18px;
}

.l-index .social-link .box .twitter h3{
  text-align: center;
}

.l-index .social-link .box .facebook{
  border: solid 1px #2d609b;
  border-radius: 7px;
  width: 225px;
  padding: 10px 5px;
  display: inline-block;
  background: #2d609b;
}

.l-index .social-link .box .facebook a{
  text-align: center;
  color: #fff;
}

.l-index .social-link .box .facebook i{
  font-size: 20px;
  padding-right: 18px;
}

.l-index .social-link .box .facebook h3{
  text-align: center;
}

.l-index .sixth-section{
  padding-top: 20px;
  background-image: url("../../img/full-img-02.jpg");
  background-size: cover;
}

.l-index .sixth-section strong{
  font-size: 44px;
  text-align: center;
  color: #fff;
  display: block;
}

.l-index .sixth-section .img-container{
  height: 700px;
  padding-top: 90px;
  padding-left: 25px;
}

.l-index .sixth-section .img-container ul li{
  float: left;
  padding-right: 40px;
  width: 33%;
  padding-bottom: 20px;
}

.l-index .sixth-section .img-container ul li .wrapper-img{
  width: 210px;
  height: 100px;
  margin: 0 auto;
}

.l-index .sixth-section .img-container ul li .wrapper-img .one{
  width: 80%;
}

.l-index .sixth-section .img-container ul li .wrapper-img .two{
  width: 69%;
}

.l-index .sixth-section .img-container ul li .wrapper-img .three{
  width: 33%;
}

.l-index .sixth-section .img-container ul li .wrapper-img .five{
  width: 82%;
}

.l-index .sixth-section .img-container ul li .wrapper-img .last{
  width: 53%;
}

.l-index .sixth-section .img-container ul li  p{
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.l-index .seventh-section{
  background-image: url("../../img/full-img-03.jpg");
}

.l-index .seventh-section .inner-container{
  padding: 0 5% 0 8%;
}

.l-index .seventh-section .over{
  width: 70%;
  margin: 0 auto;
  border-top: solid 1px #655866;
}

.l-index .seventh-section .over h2{
  padding-top: 78px;
  font-size: 48px;
  color: #ffffff;
  padding-bottom: 117px;
}

.l-index .seventh-section .template-container{
  text-align: center;
}

.l-index .seventh-section .template{
  color: #fff;
  border: solid 3px #fff;
  width: 25%;
  height: 460px;
  float: left;
  margin-bottom: 130px;
}

.l-index .seventh-section .template .content-template{
  position: relative;
}

.l-index .seventh-section .template .content-template h3{
  font-size: 24px;
  padding-top: 40px;
  text-align: center;
  display: block;
}

.l-index .seventh-section .template .content-template .price{
  margin: 0 auto;
  width: 85%;
}

.l-index .seventh-section .template .content-template .price .small{
  font-size: 26px;
  text-align: left;
}

.l-index .seventh-section .template .content-template .price p{
  font-size: 74px;
}

.l-index .seventh-section .template .content-template .price p span{
  font-size: 21px;
}

.l-index .seventh-section .template .content-template .year{
  font-size: 14px;
  display: block;
  text-align: center;
  padding-top: 27px;
}

.l-index .seventh-section .template .content-template .color{
  width: 62px;
  height: 7px;
  background: #8d81ac;
  margin: 0 auto;
  margin-top: 30px;
}

.l-index .seventh-section .template .content-template h5{
  font-size: 16px;
  padding-top: 25px;
  text-align: center;
}

.l-index .seventh-section .template .content-template .buy{
  position: absolute;
  bottom: -65px;
  border: solid 1px #6d5c6d;
  border-radius: 20px;
  background-color: #6d5c6d;
  width: 160px;
  padding: 5px;
  text-align: center;
  margin: 0 46px;
}

.l-index .seventh-section .down{
  width: 85%;
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: center;
}

.l-index .seventh-section .down p{
  color: #a291a5;
  font-size: 14px;
}
