@font-face {
  font-family: 'monserrat';
  src: url('montserrat-regular-webfont.eot');
  src: url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('montserrat-regular-webfont.woff2') format('woff2'),
       url('montserrat-regular-webfont.woff') format('woff'),
       url('montserrat-regular-webfont.ttf') format('truetype'),
       url('montserrat-regular-webfont.svg#monserrat') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot?-lpv56c');
  src:url('icomoon.eot?#iefix-lpv56c') format('embedded-opentype'),
    url('icomoon.woff?-lpv56c') format('woff'),
    url('icomoon.ttf?-lpv56c') format('truetype'),
    url('icomoon.svg?-lpv56c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e607";
}

.icon-eye:before {
  content: "\e608";
}

.icon-github:before {
  content: "\f00a";
}

.icon-fork:before {
  content: "\f002";
}

.icon-gmail:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e601";
}

.icon-down-arrow:before {
  content: "\e602";
}

.icon-left-arrow:before {
  content: "\e603";
}

.icon-right-arrow:before {
  content: "\e604";
}

.icon-up-arrow:before {
  content: "\e605";
}

.icon-menu:before {
  content: "\e606";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

